@font-face {
  font-family: CenturyGothic;
  src: url('../font/CenturyGothic.ttf') format('truetype');
}

@font-face {
  font-family: CenturyGothicBold;
  src: url('../font/CenturyGothicBold.ttf') format('truetype');
}

@keyframes square-in {
    from {
        top: -200%;
        transform: rotate(30deg);
    }
    to {
        top: -30rem;
        transform: rotate(60deg);
    }
}

@keyframes page-in {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --primary-gradient: linear-gradient(to right, #4840BE , #060646);
    --primary-color: #272381;
    --secondary-color: #F0B505;
    --bg-color: #ECF0F3;
    --v-spacing: 2rem;
    --h-spacing: 4rem;
    --text-color: #515050;
}

* {
    font-family: CenturyGothicBold;
}

body {
    background-color: var(--bg-color);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: var(--text-color);
}

body.dark {
    --text-color: #ffffff;
    --bg-color: rgb(29, 29, 29);
}

body.dark .shadow {
    box-shadow: 0 .5rem 1rem rgba(255,255,255,.03)!important;
}

.square-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.square {
    position: absolute;
    width: 100vw;
    min-width: 1400px;
    height: 140vh;
    border-radius: 3rem;
    background-image: var(--primary-gradient);
    transform: rotate(60deg);
    top: -30rem;
    left: -28rem;
    transition: top .8s, transform .8s, left .8s;
    animation: square-in .5s;
}

.square-wrapper.hidden .square {
    top: -200%;
    transform: rotate(30deg);
}

.square-wrapper.hidden.full-screen .square {
    top: -2vh;
    left: -2vw;
    transform: rotate(0) scale(1.1);
}

.page-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity .5s, transform .5s;
    animation: page-in .5s;
}

.page-wrapper.hidden {
    visibility: hidden;
}

.page-wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.page-wrapper.fade-up {
    opacity: 0;
    transform: translateY(-2rem);
}

.page-wrapper.fade-down {
    opacity: 0;
    transform: translateY(2rem);
}

.nav-wrapper {
    margin-top: calc(var(--v-spacing) / 2);
    top: var(--v-spacing);
    right: var(--h-spacing);
}

.nav-item.btn {
    border: 2px solid var(--primary-color);
    padding: .2rem .8rem;
    font-size: .8rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.side-nav-wrapper {
    position: absolute;
    z-index: 3;
    width: 0;
    height: 100vh;
    right: 0;
    transition: width .5s;
    overflow: hidden;
}

.side-nav-wrapper.active {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity .5s;
}

.active > .overlay {
    opacity: .5;
}

.side-nav {
    position: absolute;
    right: -100%;
    height: 100%;
    top: 0;
    width: 70%;
    max-width: 320px;
    background-color: var(--bg-color);
    transition: right .5s;
}

.active .side-nav {
    right: 0;
}

.side-nav-item {
    width: 100%;
    border: none;
    padding: 1rem;
}

.side-nav-item:hover {
    filter: brightness(.8);
}

.member-img {
    width: 100%;
    height: 240px;
    border-radius: 2rem;
    background-image: url(../img/default.jpg);
}

.point-wrapper {
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.point {
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    border: 4px solid var(--primary-color);
    background-color: var(--bg-color);
    margin: .4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point > span {
    position: absolute;
    text-align: right;
    right: 0;
    font-size: .8rem;
    opacity: 0;
    transition: right .3s, opacity .3s;
}

.point:hover > span, .active.point > span {
    right: 1.8rem;
    opacity: 1;
}

.point::after {
    content: "";
    border-radius: 20px;
    width: 0;
    height: 0;
    background-color: var(--primary-color);
    transition: width .5s, height .5s;
}

.active.point::after, .point:hover::after {
    width: 8px;
    height: 8px;
}

.title {
    font-size: 3rem;
}

.thin, p {
    font-family: CenturyGothic;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
    z-index: 2;
}

.p-left {
    padding-left: var(--h-spacing);
}

.p-right {
    padding-right: var(--h-spacing);
}

.m-left {
    margin-left: var(--h-spacing);
}

.m-right {
    margin-right: var(--h-spacing);
}

.p-main {
    padding: var(--v-spacing) var(--h-spacing);
}

.m-main {
    margin: var(--v-spacing) var(--h-spacing);
}

.logo {
    cursor: pointer;
    width: 158px;
    background-image: linear-gradient(to bottom right, #2b278a, #24207d);
    padding: .6rem 1rem;
    border-radius: 12px;
    margin-left: calc(var(--h-spacing) - 1rem);
    margin-top: calc(var(--v-spacing) - .6rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

body.dark .logo {
    box-shadow: 0 .5rem 1rem rgba(255,255,255,.03);
}

.logo.hide-bg {
    background-image: none;
    box-shadow: none !important;
}

.divisi-logo-wrapper {
    width: 150px;
    height: 150px;
    background-image: var(--primary-gradient);
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    outline: none;
    border: none;
    padding: .5rem 2rem;
    transition: filter .5s, transform .5s, background-color .5s;
}

.btn:hover {
    transform: translateY(-.2rem);
    filter: brightness(.9);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-secondary.glide__arrow {
    padding: .5rem 1rem;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
}

.btn-secondary.glide__arrow:hover {
    transform: translateY(-60%);
    filter: brightness(.9);
}

.glide__arrow--left {
    left: -1.6rem;
}

.glide__arrow--right {
    right: -1.6rem;
}

.glide {
    width: 80%;
    margin: auto;
}

.product-card {
    height: 43vh;
    background-color: var(--bg-color);
    border: none;
    overflow: hidden;
    position: relative;
}

.product-card .card-header {
    background-color: var(--bg-color);
    border: none;
}

.product-card .product-img {
    height: 18vh;
}

.product-card p {
    position: relative;
    font-size: .9rem;
    height: 13vh;
    white-space: normal;
}

.product-card a {
    font-size: .9rem;
}

.product-card .card-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: none;
    border: none;
}

.product-card .date {
    font-size: .6rem;
}

.contact .icon-wrapper {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact .icon-wrapper.location {
    background-image: url(../icon/location.svg);
}

.contact .icon-wrapper.email {
    background-image: url(../icon/email.svg);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.4rem var(--h-spacing);
    font-size: .9rem;
    transform: translateY(100%);
    transition: transform .5s;
}

footer.show {
    transform: translateY(0);
}

footer .icon-wrapper {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s;
}

footer .icon-wrapper:hover {
    transform: translateY(-.15rem);
}

footer .icon-wrapper.instagram {
    background-image: url(../icon/instagram.svg);
}

footer .icon-wrapper.facebook {
    background-image: url(../icon/facebook.svg);
}

footer .icon-wrapper.twitter {
    background-image: url(../icon/twitter.svg);
}

footer .icon-wrapper.youtube {
    background-image: url(../icon/youtube.svg);
}

.top-0 {
    top: 0;
}

.bg-primary {
    background-image: var(--primary-gradient);
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.width-controller {
    max-width: 1312px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    :root {
        --v-spacing: 1rem;
        --h-spacing: 2rem;
    }

    @keyframes square-in {
        from {
            top: -200%;
            transform: rotate(30deg);
        }
        to {
            top: -12rem;
            transform: rotate(60deg);
        }
    }

    .logo {
        width: 124px;
    }

    .square {
        width: 120vw;
        min-width: 800px;
        height: 140vh;
        top: -12rem;
        left: -26rem;
    }

    .raion-text {
        font-size: 2.6rem;
    }

    .active.point > span {
        right: 0;
        opacity: 0;
    }

    .title {
        font-size: 2rem;
        margin-top: 2.4rem;
    }

    .member-img {
        height: 220px;
    }

    .btn {
        padding: .4rem 1.4rem;
        font-size: .8rem;
    }
}
